<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <title>뉴북마켓</title>
</head>
<body>
<h1>뉴북마켓에 오신 것을 환영합니다!</h1>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/member/login}">로그인</a>
    <a th:href="@{/member/signup}">회원가입</a>
</div>

<div sec:authorize="isAuthenticated()">
    안녕하세요, <strong sec:authentication="name">csw</strong> 님!

    <form th:action="@{/member/logout}" method="post" style="display: inline;">
        <button type="submit">로그아웃</button>
    </form>
</div>

</body>
</html>